.cardDarkTw {
	background-color: #363c4e;
}

.divScroll {
	overflow: auto;
	max-height: 345px;
}

.tableFixHead {
	overflow: auto;
	height: 100px;
}
.tableFixHead thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

#tabContent {
	border-left: 0.0625rem solid #9ca3af;
	border-right: 0.0625rem solid #9ca3af;
	border-bottom: 0.0625rem solid #9ca3af;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.nav-tabs .nav-link {
	margin-bottom: 0px;
}

.divScrollBeholder {
	overflow: auto;
	max-height: 400px;
}
