# Express port, ex: 3000
PORT=3000

# Frontend allowed URL, ex: http://localhost:3001
CORS_ORIGIN=

# JWT secret key, ex: c81e98d6adf7
JWT_SECRET=

# JWT expires time in seconds, ex: 3600 = 1h
JWT_EXPIRES=

# Database name, ex: cryptobot
DB_NAME=

# Database user, ex: docker
DB_USER=

# Database password, ex: docker123
DB_PWD=

# Database URL, ex: localhost
DB_HOST=

# Database port, ex: 3306
DB_PORT=

# Database type, ex: mysql
DB_DIALECT= 

# Default user email, ex: default@email.com
DEFAULT_USER_EMAIL=

# Default user password, ex: abc123
DEFAULT_USER_PWD=

# Default user password, ex: abc123
DEFAULT_USER_TELEGRAM_CHAT=

# Enable Binance logs, ex: true or false
BINANCE_LOGS=

# Binance leveraged tokens 2x, 3x, etc, ex: true or false
BINANCE_BLVT=

# Coins to be ignored. Use symbols separated by comma, ex: BRL,EUR,GBP,AUD
BINANCE_IGNORED_COINS=

# Only coins that contain in the base or quote, ex: USDT,BTC
BINANCE_ONLY_PAIRS_WITH=